<ion-view view-title="Change Password">

 <ion-nav-buttons side="right">
      <button class="button button-clear button-balanced" ng-click="done()">Done</button>
 </ion-nav-buttons>
  
  <ion-content>
  
   <div class="list">
        <label class="item item-input">
          <input type="text"  placeholder="Enter Current Password">
        </label>

        <label class="item item-input">
          <input type="password"  placeholder="Create New Password">
        </label>
         <label class="item item-input">
          <input type="text"  placeholder="Re-Type New Password">
        </label>
    </div>
   
 


   

  </ion-content>
  
</ion-view>
