<ion-view view-title="Forgot Password ?">

 <ion-nav-buttons side="left">
      <a class="button button-icon ion-ios-arrow-back" href="#/settings" ></a>
 </ion-nav-buttons>
  
  <ion-content>
   <style type="text/css">
    .button.register {
      background-color:#4BB593; 
      border-color:#4BB593;
      border-radius: 5px;
      font-size: 18px;
    }
  </style>


   <h4 style="text-align:center;">Just enter your email address and we'll <br>
     email you a password reset!</h4>   
 
  
       <form ng-submit="send()">
      <div class="list">
        <label class="item item-input">
          <input type="text"  placeholder="Email">
        </label>

        <label class="item">
          <div class="row">
            <div class="col"></div>
            <div class="col col-75">
            <button class="button button-block button-positive register" type="submit">Send</button>
            </div>
            <div class="col"></div>
          </div>
          </label>
          </div></form>
   

   

  </ion-content>
  
</ion-view>
