<ion-view view-title="Invite Clients">
<ion-nav-buttons side="left">
     <a href="#/settings"><button class="button button-icon ion-ios-arrow-left"></button></a>
 </ion-nav-buttons>
  <ion-content>
  
    

     
     <div class="list">

  <a class="item item-icon-left item-icon-right" href="#/textMsg">
    <i class="icon ion-chatbox"></i>
    Text Message
     <i class="icon ion-ios-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/textMsg">
    <i class="icon ion-email"></i>
    Email
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <a class="item item-icon-left item-icon-right" href="#/textMsg">
    <i class="icon ion-social-facebook"></i>
    Facebook
     <i class="icon ion-ios-arrow-right"></i>
  </a>

</div>

        

        

        <label class="item">
          <button class="button button-block button-balanced" ng-click="continuedemo()">Continue Demo</button>
        </label>

     
   

  </ion-content>
  
</ion-view>
