<ion-view view-title="MY PLAN">
<ion-nav-buttons side="left">
      <button class="button button-icon ion-ios-gear-outline"></button>
 </ion-nav-buttons>
 <ion-nav-buttons side="right">
      <button class="button button-icon ion-ios-chatbubble-outline" ng-click="message()"></button>
 </ion-nav-buttons>
  <ion-content>
  
<div class="row"> 
  <div class="col" style="text-align:center">S<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-35px;">
          <i class="icon ion-checkmark-circled" style="color:#4BB593; font-size:28px;"></i>
        </div>
        <br></div>
  <div class="col" style="text-align:center">M<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-35px;">
          <i class="icon ion-checkmark-circled" style="color:#4BB593; font-size:28px;"></i>
        </div>
        <br></div>
  <div class="col" style="text-align:center">T<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-30px;">7</div><br></div>
  <div class="col" style="text-align:center; background-color:#F8F8F8; border-left:1px solid;border-right:1px solid; border-bottom:1px solid; border-color:#B2B2B2; border-top:30px solid #F8F8F8; margin-top:-30px; z-index:5; border-radius:5px;">Today<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-30px;">8</div><br></div>
  <div class="col" style="text-align:center">T<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-30px;">9</div><br></div>
  <div class="col" style="text-align:center">F<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-30px;">10</div><br></div>
  <div class="col" style="text-align:center">S<br>
        <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
        <div style="margin-top:-30px;">11</div><br></div>
</div>
    

  <div class="list">
 <div class="item item-divider" style="text-align:center;">
    4 TASK LEFT TODAY
  </div>

    <a class="item item-icon-left item-icon-right" href="#">
      <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
      <i class="icon ion-android-bicycle" style="font-size:25px;"></i>
      MORNING STRETCH ROUTINE
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" href="#">
       <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
      <i class="icon ion-android-walk" style="font-size:25px;"></i>
      LIGHT JOG
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" href="#">
       <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
       <i class="icon ion-fork" style="font-size:25px;"></i>
      EAT A SALAD
      <i class="icon ion-ios-arrow-right"></i>
    </a>

    <a class="item item-icon-left item-icon-right" href="#/todayWorkout">
       <i class="icon ion-ios-circle-outline" style="font-size:40px;"></i>
       <i class="icon ion-ios-body" style="font-size:25px;"></i>
      TODAY'S WORKOUT
      <i class="icon ion-ios-arrow-right"></i>
    </a>

   </div>

  </ion-content>
  
</ion-view>
