<ion-view view-title="TODAY'S WORKOUT">
 <ion-nav-buttons side="left">
     <a href="#/myPlan"><button class="button button-icon ion-ios-arrow-left"></button></a>
 </ion-nav-buttons>
 <ion-nav-buttons side="right">
      <button class="button button-clear" ng-click="start()">Start</button>
 </ion-nav-buttons>
  
  <ion-content>
  
   <div class="list">
 <div class="item item-divider" style="text-align:center;">
    Confirm Equipments
  </div>

    <div class="row item item-icon-left item-icon-right" >
     <img src="img/mat.jpeg" height="50px"  width="60px">
    <div class="col col-67 col-offset-10">
      Yoga Mat/Exercise Mat
       </div>
     <div class="col">
     <label class="col checkbox checkbox-balanced">
       <input type="checkbox">
     </label>
  </div>
    </div>


    <div class="item item-divider" style="text-align:center;">
    Today's Workout : 23:00 </div>
  <div class="item item-divider" style="text-align:center;">
    Warm up (5:30) </div>
  

  
     <div class="row item item-icon-left" >
     <img src="img/bicyclebentknee.jpeg" height="50px"  width="60px">
    <div class="col col-67 col-offset-10">
      Bicycle - Bent knee
        <p>30s</p>
       </div>
    </div>

    <div class="row item item-icon-left" >
     <img src="img/sidebridge.jpeg" height="50px" width="60px">
    <div class="col col-67 col-offset-10">
      Side Bridge
        <p>30s</p>
       </div>
    </div>
    
    <div class="item item-divider" style="text-align:center;">
    Work Out (12:15) </div>
    <div class="row item item-icon-left" >
     <img src="img/bicyclebentknee.jpeg" height="50px"  width="60px">
    <div class="col col-67 col-offset-10">
      Bicycle - Bent knee
        <p>1m</p>
       </div>
    </div>

   </div>
   


   

  </ion-content>
  
</ion-view>
